<div class="container">

<h1>Panel administratora</h1>

<p>Zarządzaj:
<ul>
<li><a href="/lref">kontami sędziów</a></li>
<li><a href="/lcontestant">zawodnikami</a></li>
<li><a href="/lcontest">zawodami</a></li>
</ul>
</p>

<p><a href="/logout">Wyloguj się</a></p>

</div>
