<div class="container">

<h1>Zarządzanie kontami sędziów</h1>

<p><a href="/cref">Utwórz konto dla nowego sędziego</a></p>

<table class="table">

<thead>
	<tr>
		<th>Nazwisko</th>
		<th colspan="3"></th>
	</tr>
</thead>

<tbody>
	<% accounts.forEach(function(account) { %>
	<% if (account.type == "ref") { %>
	<tr>
		<td><%= account.username %></td>
		<td>
			<form class="form" action="/rref" method="get">
				<input type="hidden" name="username" value="<%= account.username %>" />
				<button type="submit" class="btn btn-link">Pokaż</button>
			</form>
		</td>
		<td>
			<form class="form" action="/uref" method="get">
				<input type="hidden" name="username" value="<%= account.username %>" />
				<button type="submit" class="btn btn-link">Edytuj</button>
			</form>
		</td>
		<td>
			<form class="form" action="/dref" method="post">
				<input type="hidden" name="username" value="<%= account.username %>" />
				<button type="submit" class="btn btn-link" onclick="return confirm('Czy napewno chcesz usunąć użytkownika?');return false;">Usuń</button>
			</form>
		</td>
	</tr>
	<% } %>
	<% }); %>
</tbody>

</table>

</div>
