<div class="container">
<h1>O stronie</h1>
<p>'Ponyville' jest największym systemem obsługi zawodów konnych w Polsce. Działamy nieprzerwanie od 20 lat. Z naszego systemu korzystają najwięksi organizatorzy zawodów.</p>
<p>Mamy wielką bazę użytkowników, którzy cenią sobie nasze usługi i korzystają z nich od wielu lat. Możesz zapoznać się z ich opiniami na serwisie <a href="http://www.opineo.pl/opinie/ponyville-pl"> Opineo</a>.</p>
<p>Nasze serwery są zabezpieczone najnowszymi technologiami. Są niezawodne i nigdy nie zdażyła im się awaria w trakcie zawodów.</p>
<p>Skorzystaj z naszej oferty już dziś!</p>
</div>
