<h1>Panel adminstratora</h1>

<p><a href="/lref">Zarządzaj kontami sędziów</a></p>

<p><a href="/ccontestant">Dodaj nowego zawodnika</a></p>
<p><a href="/ccontest">Utwórz nowe zawody</a></p>
<p><a href="/cgroup1">Podział zawodów na grupy</a></p>

<p><a href="/logout">Wyloguj</a></p>
