<h1>Panel adminstratora</h1>

<p>Zarządzaj:</p>
<p><a href="/lref">kontami sędziów</a></p>
<p><a href="/lcontestant">zawodnikami</a></p>
<p><a href="/lcontest">zawodami</a></p>

<p><a href="/logout">Wyloguj</a></p>
