<h1>Podział zawodów na grupy</h1>

<form class="form" action="/cgroup2" method="post">

<%= contest.name %>

<p>Starting list:
<ul>
<% contest.startinglist.forEach(function(contestant) { %>
<li><%= contestant.no %>. <%= contestant.name %></li>
<% }); %>
</ul>
</p>

<input type="hidden" name="namef" value="Grupa żeńska" />
<input type="hidden" name="namem" value="Grupa męska" />

<div class="buttons">
	<button type="submit">Create</button>
	<a href="/admin"><button type="button">Cancel</button></a>
</div>

</form>

<script src="jquery.min.js"></script>
<script src='/js/cgroup2.js'></script>
