<div class="container">
<h1>Kontakt</h1>
<h2>Biuro Obsługi Klienta</h2>
<p>Telefon: (+48) 55 255 23 42</p>
<p>E-mail: <a href="mailto:bok@ponyville.pl">bok@ponyville.pl</a></p>
<h2>Administrator</h2>
<p>E-mail: <a href="mailto:mkozina@sigma.inf.ug.edu.pl">mkozina@sigma.inf.ug.edu.pl</a></p>
<h2>Siedziba</h2>
<p>Kitty Sp. z o.o.<p>
<p>ul. Kartuska 15</p>
<p>80-141 Gdańsk, Polska</p>
</div>
