<div class="container">
	<div id="vcenter" class="row">
		<div class="col-sm-12">
			<img id="logo" class="center-block" src="/img/rainbow_dash2.png" height="432" width="480" alt="pony" />
			<h1 class="text-center">Witaj w systemie zawodów konnych Ponyville!</h1>
		</div>
	</div>
</div>

<script>
$(window).on("orientationchange",function(){
	if(window.orientation == 0) // Portrait
	{
		$("#logo").attr("src","/img/rainbow_dash2.png");
		$("#logo").attr("height","432");
		$("#logo").attr("width","480");
	}
	else // Landscape
	{
		$("#logo").attr("src","/img/rainbow_dash.png");
		$("#logo").attr("height","350");
		$("#logo").attr("width","900");
	}
});
</script>
