<!DOCTYPE html>
<html lang='pl'>

<head>
	<meta charset='utf-8' />
	<title>System zawodów konnych</title>
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/socket.io/socket.io.js"></script>
</head>

<body>
	<%- body %>
</body>

</html>
