<script src="js/ref.js"></script>

<div class="container">

<h1>Wyniki zawodów</h1>

<p>Obejrzyj wyniki:

<div class="row">
<div class="form-group col-xs-4">
<select id="contest" class="form-control">
<% contests.forEach(function(contest) { %>
<option value="<%= contest %>"><%= contest %></option>
<% }); %>
</select>
</div>
</div>

<form class="form" action="/contestscores" method="get">
	<input id="contestname" type="hidden" name="name" value="" />
	<div class="row">
	<div class="form-group col-xs-4">
	<button type="submit" class="btn btn-primary">Zobacz</button>
	</div>
	</div>
</form>

</p>

</div>
