body {
  background-color: #c1eaf7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.radio {
  display: inline;
}
.button {
  display: inline;
}
