html,
body {
  height: 100%;
}
p {
  font-size: 1.5em;
}
.container {
  display: table;
  width: 75%;
  height: 75%;
  min-height: 75%;
}
#vcenter {
  display: table-cell;
  vertical-align: middle;
}
