@alertcolor: #FF0000;
@successcolor: #00FF00;

html, body {
   height: 100%;
}

p {
	font-size: 1.5em;
}

.importantMsg {
	font-weight: bold;
	font-size: 150%;
}

.container {
  display: table;
  width: 75%;
  height: 75%;
  min-height: 75%;
}

#vcenter {
	display: table-cell;
	vertical-align: middle;
}

#err {
	color: @alertcolor;
	.importantMsg
}

#fin {
	color: @successcolor;
	.importantMsg
}
